<div class="form-container" *ngIf="isVisible">
    <div class="form-header">
      <h2>Add Question</h2>
      <button (click)="closeForm()">Close</button>
    </div>
    <form (ngSubmit)="onSubmit()" #Form="ngForm">
      <div class="dropdown-container">
        <label for="options">Choose an option:</label>
        <select id="options" [(ngModel)]="selectedOption" (change)="onOptionChange()">
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
        </select>
      </div>
      <div *ngIf="showOtherInput" id="other-input-container">
        <label for="other-input">New topic:</label>
        <input type="text" id="other-input" [(ngModel)]="otherOption" placeholder="Enter your option">
      </div>
      <div class="form-group">
        <label for="description">Question:</label>
        <textarea id="description" name="description" ngModel required></textarea>
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
  
