<!-- src/app/app.component.html -->
<app-addCompanyForm #Form></app-addCompanyForm>

<div class="container">
  <div class="section">
    <h2>Super Dream Companies</h2>

    <mat-icon class="edit_square-icon" (click)="Form.openForm()">edit_square</mat-icon>
  
    <div *ngIf="companies.length > 0; else noData">
      <div class="card-container"> <!-- Add card container here -->
        <div *ngFor="let company of companies">
          <app-card [company]="company"></app-card> <!-- Pass company data to app-card -->
        </div>
      </div>
    </div>
    
    <ng-template #noData>
      <p>No companies found.</p>
    </ng-template>
    

  <div class="section">
    <h2>Dream Companies</h2>
    <mat-icon class="edit_square-icon" (click)="Form.openForm()">edit_square</mat-icon>
    <div *ngIf="companies.length > 0; else noData">
      <div class="card-container"> <!-- Add card container here -->
        <div *ngFor="let company of companies">
          <app-card [company]="company"></app-card> <!-- Pass company data to app-card -->
        </div>
      </div>
    </div>
    
    <ng-template #noData>
      <p>No companies found.</p>
    </ng-template>


  </div>

  <div class="section">
    <h2>Non-Dream Companies</h2>
    <mat-icon class="edit_square-icon" (click)="Form.openForm()">edit_square</mat-icon>
    <!-- <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card> -->
    <div *ngIf="companies.length > 0; else noData">
      <div class="card-container"> <!-- Add card container here -->
        <div *ngFor="let company of companies">
          <app-card [company]="company"></app-card> <!-- Pass company data to app-card -->
        </div>
      </div>
    </div>
    
    <ng-template #noData>
      <p>No companies found.</p>
    </ng-template>

  </div>
</div>