
<!-- <app-addQuestion #Form></app-addQuestion> -->

<div class="container">
  <h2>Online Assessment</h2>
  <ul>
    <li *ngFor="let topic of categorizedTopics.onlineAssessment" (click)="navigateToQuestionList(topic.id)">{{ topic.name }}</li>
  </ul>
  <!-- <button (click)="Form.openForm(categorizedTopics.onlineAssessment)">Add Questions</button> -->
  <button (click)="addQuestion1()">Add Questions</button>
  <h2>Interview</h2>
  <ul>
    <li *ngFor="let topic of categorizedTopics.interview" (click)="navigateToQuestionList(topic.id)">{{ topic.name }}</li>
  </ul>
  <button (click)="addQuestion2()">Add Questions</button>
  <h2>Written Test</h2>
  <ul>
    <li *ngFor="let topic of categorizedTopics.writtenTest" (click)="navigateToQuestionList(topic.id)">{{ topic.name }}</li>
  </ul>
  <button (click)="addQuestion3()">Add Questions</button>
</div>